/problema2/ProblemaDos/nbproject/private/
/problema2/ProblemaDos/build/
/problema1/ProblemaUno/nbproject/private/
/problema1/ProblemaUno/build/
/problema3/ProblemaTres/nbproject/private/
/problema3/ProblemaTres/build/
/problema4/ProblemaCuatro/nbproject/private/
/problema4/ProblemaCuatro/build/
